{% extends 'base.html' %}

{% block css %}
<style>
  button{
    margin-top: 20px;
    margin-left: 10px;
    position: center;
  }
  body{
    background-image: url(https://wallpaperaccess.com/full/1156791.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .display-5{
    font-size: 30px;
  }
</style>
{% endblock %}
{% block content %}

    <div class="container">
        <div class="row my-5">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            <input type="hidden" name="event_id" value="{{event.id}}" id="event_id">
                            <input type="hidden" name="user_id" value="{{session.user_id}}" id="user_id">
                            <div class="form-floating mb-3">
                              <input
                                type="text"
                                class="form-control" name="event" id="event" placeholder="event" value="{{event.name}}" disabled>
                              <label for="event">Event</label>
                            </div>
                            <div class="form-floating mb-3">
                              <input
                                type="email"
                                class="form-control" name="email" id="uemail" placeholder="your email" value="{{session.user_email}}" disabled>
                              <label for="email">email address</label>
                            </div>
                            <div class="form-floating mb-3">
                              <input
                                type="number"
                                class="form-control" name="amount" id="amount" value="{{event.fee}}" disabled>
                              <label for="amount">Amount in Rupees</label>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-success btn-lg" id="submitBtn">Pay Now {{event.fee}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="https://js.stripe.com/v3/"></script>
<script src="/static/js/main.js"></script>
<script>

</script>
{% endblock %}