{% extends 'base.html' %}

{% block css %}
<style>
  button{
    margin-top: 20px;
    margin-left: 10px;
    position: center;
  }
  body{
    background-image: url(https://wallpaperaccess.com/full/1156791.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .display-5{
    font-size: 30px;
  }
</style>
{% endblock %}
{% block content %}
{% if is_attending %}
    <div class="container bg-success">
      <div class="row my-5">
          <div class="col p-2 text-light">
            You are attending this event
          </div>
      </div>
    </div>
{% else %}
<div class="container">
  <div class="row my-5">
      <div class="col py-5">
          <a  class="btn btn-success" href="/event/register/{{eid}}" role="button">Register for amount Rs.{{event.fee}}</a> for the event
      </div>
  </div>
</div>
{% endif %}

<div class="container">
    <!-- Modal trigger button -->
    <div class="row">
       
        
        <div class="col-md-10">
            <h1>Seminars</h1>
            {% for s in seminars %}
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">{{s.topic}}</h1>
                    <p class="col-md-8 fs-4">date :{{s.sem_date.date()}}.</p>
                    <a class="btn btn-primary btn-lg" href="/seminar/detail/{{s.id}}">View Seminar Info</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}{% endblock %}