{% extends 'base.html' %}

{% block css %}
<style>
  body{
    background-image: url(https://wallpaperaccess.com/full/1156791.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }  
</style>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    {% if session.isadmin %}
    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#eventModal" style="margin-top: 10px ; ">
        create new event
      </button>
    </div>
    {% endif %}
    
    <div class="col-md-10">
      <br>
      <br>
      <h1> Active Events</h1>
      {% for e in events %}
      <div class="mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">{{e.name}}</h1>
          <img src="{{e.avatar}}" class="img-fluid" alt="" width="100%x">
          <div class=" display-5 fw-bold" style="color: rgb(13, 20, 85);">{{e.organization}}</div>
          <p class="col-md-8 fs-4">date :{{e.date.date()}}.</p>
          <a class="btn btn-primary btn-lg" href="/event/detail/{{e.id}}">View</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include 'event_modal.html' %}

{% endblock %}
{% block js %}{% endblock %}


