{% extends 'base.html' %}

{% block css %}{% endblock %}
{% block content %}
<div class="container">
  <div class="col-md-10">
    <h1 class="display-3"> Welcome To Seminar Companion</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi praesentium molestiae, dolore nihil dolores fugit quis minus quas consequatur obcaecati culpa incidunt atque nulla necessitatibus doloremque tempore amet aut dolorum laudantium officiis non possimus? Voluptatem beatae repellat non inventore nemo molestias hic voluptatibus recusandae? Error fugit necessitatibus dicta magni deleniti   </p> 
  </div>
</div>
{% endblock %}
{% block js %}{% endblock %}

