{% extends 'base.html' %}

{% block css %}
<style>
  button{
    margin-top: 20px;
    margin-left: 10px;
    position: center;
  }
  body{
    background-repeat: no-repeat;
    background-size: cover;
  }
  .display-3{
    font-size: 100px;
  }
  p{
    font-size: 30px;
  }
</style>
{% endblock %}
{% block content %}
<div class="container">
  <div class="col-md-10">
    <h1 class="display-3"> Welcome To Seminar Companion</h1>
    <p>
      Welcome to our seminar companion web app! We're here to revolutionize the way you experience seminars and conferences. With our user-friendly interface and powerful features, we aim to enhance your event journey from start to finish
      <br>
      Say goodbye to missed sessions and hello to a new level of event engagement. Join us today and unlock the full potential of your next seminar!
      </p> 
  </div>
</div>
{% endblock %}
{% block js %}{% endblock %}

